{% import "_macros.html" as macros %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://clients.banquedauphine.online/"><img src="/imgFront/logo-dauphine.png" height="30" width="97" ></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="{{ macros.is_active('clients') }} {{ macros.is_active('clients_compte_details') }}">
                    <a href="{{ path('clients') }}" title="Consulter mes comptes" >
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <span class="hidden-xs">Consulter mes comptes</span>
                    </a>
                </li>
                <li class="dropdown {{ macros.is_active('clients_virement_new') }} {{ macros.is_active('clients_virement_beneficiaire_new') }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Virements<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{ macros.is_active('clients_virement_new') }}">
                            <a href="{{ path('clients_virement_new') }}" title="Faire un virement" style="color: black!important;">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span class="hidden-xs">Faire un virement</span></a>
                        </li>
                        <li {{ macros.is_active('clients_virement_beneficiaire_new') }}">
                            <a href="{{ path('clients_virement_beneficiaire_new') }}" title="Ajouter un bénéficiaire" style="color: black!important;">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span class="hidden-xs">Ajouter un bénéficiaire</span>
                            </a>
                        </li>
                    </ul>
                </li>

                {% if (client.hasChequier == false) %}
                <li class="{{ macros.is_active('clients_commander_chequier') }}">
                    <a href="{{ path('clients_commander_chequier') }}" title="Demander un chéquier" >
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="hidden-xs">Demander un chéquier</span>
                    </a>
                </li>
                {% endif %}

                {% if (client.hasCb == false) %}
                <li class="{{ macros.is_active('clients_commander_cb') }}">
                    <a href="{{ path('clients_commander_cb') }}" title="Demander une CB" >
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <span class="hidden-xs">Demander une CB</span>
                    </a>
                </li>
                {% endif %}

                <li>
                    <a href="/logout" title="Se déconnecter" >
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <span class="hidden-xs">Se déconnecter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
