{% import "_macros.html" as macros %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://clients.banquedauphine.online/"><img src="/imgFront/logo-dauphine.png" height="30" width="97" ></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="{{ macros.is_active('clients') }} {{ macros.is_active('clients_compte_details') }}">
                    <a href="{{ path('clients') }}" title="Consulter mes comptes" >
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <span class="hidden-xs">Consulter mes comptes</span>
                    </a>
                </li>

                <li class="dropdown {{ macros.is_active('clients_virement_new') }} {{ macros.is_active('clients_virement_beneficiaire_new') }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Virements<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{ macros.is_active('clients_virement_new') }}">
                            <a href="{{ path('clients_virement_new') }}" title="Faire un virement" style="color: black!important;">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span class="hidden-xs">Faire un virement</span>
                            </a>
                        </li>
                        <li {{ macros.is_active('clients_virement_beneficiaire_new') }}">
                            <a href="{{ path('clients_demander', {article: 'beneficiaire-virement'}) }}" title="Ajouter un bénéficiaire" style="color: black!important;">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span class="hidden-xs">Ajouter un bénéficiaire</span>
                            </a>
                        </li>
                    </ul>
                </li>

                {% if ( not (client.hasDecouvertAutorise and client.hasCompteEpargne and client.hasCompteJoint and client.hasChequier and client.hasCb) ) %}
                <li class="dropdown
                    {{ macros.is_active('client_demander') }}"
                >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demandes<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if (client.hasDecouvertAutorise == false) %}
                            <li>
                                <a href="{{ path('clients_demander', {article: 'autorisation-decouvert'}) }}" title="Demander une autorisation de découvert" style="color: black!important;">
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="hidden-xs">Demander une autorisation de découvert</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if (client.hasCompteEpargne == false) %}
                            <li>
                                <a href="{{ path('clients_demander', {article: 'compte-epargne'}) }}" title="Demander l'ouverture d'un compte épargne" style="color: black!important;">
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="hidden-xs">Demander l'ouverture d'un compte épargne</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if (client.hasCompteJoint == false) %}
                            <li>
                                <a href="{{ path('clients_demander', {article: 'compte-joint'}) }}" title="Demander l'ouverture d'un compte joint" style="color: black!important;">
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="hidden-xs">Demander l'ouverture d'un compte joint</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if (client.hasChequier == false) %}
                            <li>
                                <a href="{{ path('clients_demander', {article: 'chequier'}) }}" title="Demander un chéquier" style="color: black!important;">
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="hidden-xs">Demander un chéquier</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if (client.hasCb == false) %}
                            <li>
                                <a href="{{ path('clients_demander', {article: 'cb'}) }}" title="Demander une CB" style="color: black!important;">
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="hidden-xs">Demander une CB</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                {#{% if (client.hasCb == false) %}
                <li class="{{ macros.is_active('clients_commander_cb') }}">
                    <a href="{{ path('clients_commander_cb') }}" title="Demander une CB" style="color: black!important;">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="hidden-xs">Demander un chéquier</span>
                    </a>
                </li>
                {% endif %}

                {% if (client.hasCb == false) %}
                <li class="{{ macros.is_active('clients_commander_cb') }}">
                    <a href="{{ path('clients_commander_cb') }}" title="Demander une CB" >
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <span class="hidden-xs">Demander une CB</span>
                    </a>
                </li>
                {% endif %}#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <span class="hidden-xs">
                        &nbsp;|&nbsp;
                    </span>
                    </a>
                </li>
                <li class="{{ macros.is_active('clients_profile') }}">
                    <a href="/profile" title="Compte" >
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <span class="hidden-xs">Mon compte</span>
                    </a>
                </li>
                <li>
                    <a href="/logout" title="Se déconnecter" >
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <span class="hidden-xs">Se déconnecter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
