{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block navbar %}
    {% include 'espace_client/navbar.html.twig' %}
{% endblock %}


{% block body %}
<div id="login" class="container-fluid bg-grey">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="container">
            <legend>Espace Client</legend>


            <div class="form-group">
                {#<label for="inputEmail" class="sr-only">Adresse e-mail</label>#}
                <label for="inputEmail">Adresse e-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" required autofocus>
            </div>

            <div class="form-group">
                {#<label for="inputPassword" class="sr-only">Mot de passe</label>#}
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required readonly onclick="javascript: show_auth_pad(this);">
            </div>

            <div id="auth_pad" align="center" style="display: none;">
                <img src="{{ path('clients_auth_pad') }}" usemap="#auth_pad_map" border="1" />
                <map name="auth_pad_map" id="auth_pad_map">
                    {% set iterator = 0 %}
                    {% set nb_lines = pad_tab_height/pad_tab_cell_width %}
                    {% set nb_cols = pad_tab_width/pad_tab_cell_width %}

                    {% for num_line in 0..nb_lines-1 %}
                        {% set iterator = num_line %}
                        {% for num_col in 0..nb_cols-1 %}
                            {%  set x1 = (num_col)*pad_tab_cell_width %}
                            {%  set y1 = (num_line)*pad_tab_cell_width %}
                            {%  set x2 = (num_col+1)*pad_tab_cell_width %}
                            {%  set y2 = (num_line+1)*pad_tab_cell_width %}
                            <area shape="rect" coords="{{ x1 }},{{ y1 }},{{ x2 }},{{ y2 }}" href="#" onclick="javascript : bloc('{{ iterator }}')" />
                            {% set iterator = iterator + nb_cols %}
                        {% endfor %}
                    {% endfor %}

                    {% for idx in pad_tab %}
                        {% set iterator = iterator + 1 %}
                    {% endfor %}

                </map>
                <br /><br />
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                </div>
            #}

            <div class="text-center">
                <button type="reset" class="btn btn-lg">Annuler</button>
                &nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-lg">Se connecter</button>
            </div>

        </div>
    </div>
</form>
</div>

<script type="text/javascript">
    function show_auth_pad(dom_elem)
    {
        $('#auth_pad').show();
    }

    function bloc ( idx )
    {
        if ( !$('#inputPassword').val() )
        {
            $('#inputPassword').val(idx);
        }
        else
        {
            var pw_val = $('#inputPassword').val();
            var tab_pw_val = pw_val.split('-');
            if (tab_pw_val.length < 6)
            {
                $('#inputPassword').val(pw_val + '-' + idx)
                $('#inputPassword').css("border","1px solid black");
            }
            else
            {
                $('#inputPassword').css("border","1px solid red");
            }

            //alert($('#inputPassword').val());
        }
    }
</script>
{% endblock %}


{#{% block body %}
    <div id="contact" class="container-fluid bg-grey">
        <form>
            <div class="row">
                <div class="container">
                    <legend>Espace Client</legend>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adresse e-mail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse e-mail">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mot de passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg">Se connecter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}#}
