{% extends 'backoffice/base.html.twig' %}

{% block title %}Backoffice Banque Dauphine{% endblock %}

{% block navbar %}
    {% include 'backoffice/navbar_authenticated.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container-fluid" style="padding-top: 55px;">
        {#{{ dump(clients) }}#}
        <table id="all_clients" class="table table-striped " cellspacing="0" style="width: 100%;">
            <thead>
                <tr>
                    <th></th>{# icon for row details #}
                    <th>Opérations</th>{# hidden , column just to host datas #}
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Comptes</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for client in clients %}
                {% set _operations = [] %}
                {% for _operation in client.operations %}
                    {% set _montant = _operation.montant ~ ' €' %}
                    {% set _compte_emetteur = _operation.compteEmetteur %}
                    {% if _compte_emetteur.iban is defined and _montant < 0 %}
                        {% set _iban = _compte_emetteur.iban %}
                    {% else %}
                        {% set _iban = '' %}
                    {% endif %}

                    {% set _operations = _operations|merge([{
                        iban: _iban,
                        date_execution: _operation.dateExecution|date("d/m/Y"),
                        created_by: _operation.createdBy,
                        type: _operation.TypeOperationLbl,
                        details: _operation.details,
                        montant:  _operation.montant ~ ' €',
                    }]) %}
                {% endfor %}

                <tr id="client_{{ client.id }}" class="context-menu-one" data-line_type="client" data-client_id="{{ client.id }}">
                    <td></td>
                    <td>{{ _operations|json_encode() }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.codePostal}}</td>
                    <td>{{ client.ville}}</td>
                    <td>
                        {% for compte in client.comptes %}
                            {{ compte.iban }}
                            {% if (compte.decouvertAutorise and compte.decouvertMaximum) %}
                                (<span id="compte_{{ compte.id }}" data-line_type="compte" data-client_id="{{ client.id }}" data-compte_id="{{ compte.id }}" data-decouvert_autorise="{{ compte.decouvertAutorise }}" style="color: red;" class="context-menu-one"><i>découvert max: {{ compte.decouvertMaximum }} €</i></span> )
                            {% endif %}
                            {% if (client.comptes|length) %}<br />{% endif %}
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot></tfoot>
        </table>

    </div>
    {#<div class="row">
        <span id="oualou1" class="context-menu-one btn btn-neutral" data-id="blabal" data-truc="muche">right click me</span>
    </div>#}



    {#<div id="context-menu" style="display:none;">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>#}

    <style>
        /* For small screen */
        .row :nth-child(even){
            background-color: #dcdcdc;
        }
        .row :nth-child(odd){
            background-color: #aaaaaa;
        }

        /* For medium screen */
        @media (min-width: 768px) {
            .row :nth-child(4n), .row :nth-child(4n-1) {
                background: #dcdcdc;
            }
            .row :nth-child(4n-2), .row :nth-child(4n-3) {
                background: #aaaaaa;
            }
        }

        /* For large screen */
        @media (min-width: 992px) {
            .row :nth-child(6n), .row :nth-child(6n-1), .row :nth-child(6n-2) {
                background: #dcdcdc;
            }
            .row :nth-child(6n-3), .row :nth-child(6n-4), .row :nth-child(6n-5) {
                background: #aaaaaa;
            }
        }

        td.details-control {
            background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
        }

    </style>

    <script>
        /* Formatting function for row details - modify as you need */
        function all_clients_table_details_format ( d ) {
            // `d` is the original data object for the row
            if (d == undefined || d.client_operations == undefined || d.client_operations == null || !d.client_operations || d.client_operations == "null"){
                return '<div class="alert alert-danger" role="alert">Aucune information fournie/trouvée</div>';
            }

            var client_operations = JSON.parse(d.client_operations);
            console.log(d.client_operations);
            var _return;

            /*(json_details_demande.hasOwnProperty('iban'))?iban=json_details_demande.iban:iban=null;
            (json_details_demande.hasOwnProperty('beneficiaire'))?beneficiaire=json_details_demande.beneficiaire:beneficiaire=null;
            (json_details_demande.hasOwnProperty('iban_is_ok'))?iban_is_ok=json_details_demande.iban_is_ok:iban_is_ok=false;
            (json_details_demande.hasOwnProperty('matching_compte_found'))?matching_compte_found=json_details_demande.matching_compte_found:matching_compte_found=null;*/

            for (var _operation_index in client_operations){
                console.log(_operation_index);
                var _operation = client_operations[_operation_index];
                _return += '<div class="row">';
                _return += '<div class="col-md-2">'+_operation.iban+'</div>';
                _return += '<div class="col-md-2">'+_operation.date_execution+'</div>';
                _return += '<div class="col-md-2">'+_operation.created_by+'</div>';
                _return += '<div class="col-md-2">'+_operation.type+'</div>';
                _return += '<div class="col-md-2">'+_operation.details+'</div>';
                _return += '<div class="col-md-2">'+_operation.montant+'</div>';
                _return += '</div>';
            }

            return _return;
        }

        var all_clients_table = $('#all_clients').DataTable( {
            scrollCollapse: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            dom: 'Bfrtip',
            select:"single",
            responsive: true,
            buttons: [
            ]
            ,"columns": [
                {
                    "data": "empty_col",
                    "className": "details-control",
                    "orderable":      false,
                },
                { "data": "client_operations" },
                { "data": "client_prenom" },
                { "data": "client_nom" },
                { "data": "client_email" },
                { "data": "client_code_postal" },
                { "data": "client_ville" },
                { "data": "client_comptes" },

                {
                    "data": "backoffice_actions_col",
                    "orderable":      false,
                },
            ],
            "columnDefs": [
                {
                    "targets": [ 1 ],
                    "visible": false,
                    "searchable": true
                },
                /*{
                    "targets": [ 3 ],
                    "visible": false
                }*/
            ],
            "order": [[1, 'asc']]
        } );

        $('#all_clients tbody').on('click','td', function (){
            var tr = $(this).closest('tr');
            var row = all_clients_table.row( tr );
            console.log(row.data());

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                row.child( all_clients_table_details_format(row.data()) ).show();
                tr.addClass('shown');
            }
        });

        /*$('td').on('contextmenu', function(e) {
            //alert('toto');
            var top = e.pageY - 10;
            var left = e.pageX - 10;

            $("#context-menu").css({
                display: "block",
                border: "1px solid black",
                top: top,
                left: left
            });

            return false;
        }).on("click", function() {
            $("context-menu").hide();
        });

        $("#context-menu a").on("click", function() {
            $(this).parent().hide();
        });*/
    </script>

    <script>
        $(function(){
            $.contextMenu({
                selector: '.context-menu-one',
                build: function($trigger, e) {
                    console.log($trigger);
                    console.log($trigger.attr("id"));

                    var id = false;
                    if ($trigger.attr("id"))
                    {
                        id = $trigger.attr("id");
                    }

                    if (id && $('#'+id).data('line_type'))
                    {
                        var line_type = $('#'+id).data('line_type');
                        //alert(line_type);

                        e.items = {
                        }

                        switch (line_type)
                        {
                            case 'client':
                                var client_id = $('#'+id).data('client_id');
                                //alert('client_id = '+client_id+"\n");
                                e.items = {
                                    "edit_client": {name: "Editer la fiche client", icon: "edit"},
                                    "list_demandes": {name: "Historique des demandes du client.", icon: "edit"},
                                }
                                break;

                            case 'compte':
                                var client_id = $('#'+id).data('client_id');
                                var compte_id = $('#'+id).data('compte_id');
                                var has_decouvert_autorise = $('#'+id).data('decouvert_autorise');
                                //alert('client_id = '+client_id+"\n"+'compte_id='+compte_id+"\n");
                                e.items = {
                                    "edit_client": {name: "Editer la fiche client", icon: "edit"},
                                    "edit_decouvert": {name: "Modifier le découvert autorisé", icon: "edit"},
                                }
                                break;

                            default:
                                break;
                        }
                    }

                    console.log(e);
                    // this callback is executed every time the menu is to be shown
                    // its results are destroyed every time the menu is hidden
                    // e is the original contextmenu event, containing e.pageX and e.pageY (amongst other data)
                    return {
                        callback: function(key, options) {
                            var m = "clicked: " + key;
                            //window.console && console.log(m) || alert(m);
                            switch (key)
                            {
                                case 'edit_client':
                                    document.location.href = "/client/edit/" + client_id;
                                    break;

                                case 'list_demandes':
                                    document.location.href = "/demandes/client/" + client_id;
                                    break;

                                case 'edit_decouvert':
                                    document.location.href = "/decouvert/edit/" + compte_id;
                                    break;
                            }
                            document.location.href
                        },
                        items: e.items
                        /*items: {
                            "edit": {name: "Edit", icon: "edit"},
                            "cut": {name: "Cut", icon: "cut"},
                            "copy": {name: "Copy", icon: "copy"},
                            "paste": {name: "Paste", icon: "paste"},
                            "delete": {name: "Delete", icon: "delete"},
                            "sep1": "---------",
                            "quit": {name: "Quit", icon: function($element, key, item){ return 'context-menu-icon context-menu-icon-quit'; }}
                        }*/
                    };
                }
            });
        });
    </script>

{% endblock %}
