{% extends 'backoffice/base.html.twig' %}

{% block title %}Backoffice Banque Dauphine{% endblock %}

{% block navbar %}
    {% include 'backoffice/navbar_authenticated.html.twig' %}
{% endblock %}

{% block body %}

    {% if app.session.flashbag.peek('success')|length > 0 %}
        <div class="alert alert-warning">
        {% for message in app.flashes('success') %}
            {{ message }}<br />
        {% endfor %}
        </div>
    {% else %}
    {% endif %}

    {% if app.session.flashbag.peek('error')|length > 0 %}
        <div class="alert alert-danger">
        {% for message in app.flashes('error') %}
                {{ message }}
        {% endfor %}
        </div>
    {% else %}
    {% endif %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="header">
                        <h4 class="title">Ouvertures de compte</h4>
                        <p class="category">Demandes en attente de validation</p>
                        <table id="liste_prospects" class="table auto_datatable table-striped " style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client.prenom }}</td>
                                    <td>{{ client.nom }}</td>
                                    <td>{{ client.email }}</td>
                                    <td>{{ client.mobile }}</td>
                                    <td class="details_control">
                                        <a href="/validateRegistration/{{ client.id }}/KO"><button type="button" class="btn btn-danger">Refuser</button></a>
                                        <a href="/validateRegistration/{{ client.id }}/OK"><button type="button" class="btn btn-success">Valider</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            {#<tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Mobile</th>
                            </tr>#}
                            </tfoot>
                        </table>
                    </div>

                    {#<div class="content">
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> En attente
                                <i class="fa fa-circle text-danger"></i> Refusé
                                <i class="fa fa-circle text-warning"></i> Validé
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Février 2019
                            </div>
                        </div>
                    </div>#}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Demandes clients</h4>
                        <p class="category">Demandes en attente de validation</p>


                        <ul class="nav nav-tabs">
                            {% set iterator = 0 %}
                            {% set typeLbls = constant('App\\Entity\\Demandes::DEMANDES_LABELS') %}
                            {#{{ dump(typeLbls) }}#}
                            {% for demande_type,_demandes in demandes %}
                                <li class="{% if (iterator == 0) %}active{% endif %}">
                                    <a data-toggle="tab" href="#{{ demande_type }}">{{ typeLbls[demande_type] | replace({'Demande': 'Demandes'}) }}</a>
                                </li>
                                {% set iterator = iterator + 1 %}
                            {% endfor %}
                        </ul>

                        {% set iterator = 0 %}
                        <div class="tab-content">
                            {% for demande_type,_demandes in demandes %}
                                {% if demande_type == constant('App\\Entity\\Demandes::DEMANDE_DECOUVERT_AUTORISE') %}
                                {#{{ dump(demande_type) }}#}
                                {#{{ dump(constant('App\\Entity\\Demandes::DEMANDE_DECOUVERT_AUTORISE')) }}#}

                                <script>
                                   /* dialog = $( "#dialog-form" ).dialog({
                                        autoOpen: false,
                                        height: 400,
                                        width: 350,
                                        modal: true,
                                        buttons: {
                                            "Montant du découvert autorisé": addUser,
                                            Cancel: function() {
                                                dialog.dialog( "close" );
                                            }
                                        },
                                        close: function() {
                                            form[ 0 ].reset();
                                            allFields.removeClass( "ui-state-error" );
                                        }
                                    });*/

                                   /*$("#btn_validate_demande").click(function(ev) {
                                       alert("YOP");
                                       return false;

                                       ev.preventDefault(); // preventDefault should suffice, no return false
                                       var href = $(this).attr("href");
                                       var dialog = $("<div>Are you sure?</div>");

                                       $(dialog).dialog({
                                           resizable: false,
                                           autoOpen: true,
                                           modal: true,
                                           buttons: {
                                               'OK': function() {
                                                   window.location = href;
                                                   $( this ).dialog( "close" );
                                               },
                                               'Cancel': function() {
                                                   $( this ).dialog( "close" );
                                               }
                                           },
                                           close: function () {
                                               //$( this ).remove();
                                           }
                                       });
                                   });*/

                                </script>
                                {% endif %}

                            <div id="{{ demande_type }}" class="tab-pane fade {% if (iterator == 0) %}in active{% endif %}">
                                <table id="liste_demandes_{{ demande_type }}" class="table {% if (demande_type) != "DEMANDE_DESTINATAIRE_VIREMENT" %}auto_datatable{% endif %} table-striped {#table-bordered#}" cellspacing="0" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            {% if (demande_type == "DEMANDE_DESTINATAIRE_VIREMENT") %}
                                                <th></th>
                                                <th>Détail</th>
                                            {% endif %}
                                            <th>Date de la demande</th>
                                            <th>Auteur de la demande</th>
                                            <th>Client</th>
                                            <th>Comptes du client</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for   _demande in _demandes %}
                                        <tr>
                                            {% if (demande_type == "DEMANDE_DESTINATAIRE_VIREMENT") %}
                                                <td></td>
                                                <td>
                                                    {{ _demande.details|json_encode() }}
                                                </td>
                                            {% endif %}

                                            <td>{{ _demande.createdAt | date("d/m/Y") }}</td>
                                            <td>{{ _demande.createdBy }}</td>
                                            <td>{{ _demande.client.prenom }} {{ _demande.client.nom }}</td>
                                            <td>
                                                {% for compte in _demande.client.comptes %}
                                                    {% set iterator = 0 %}
                                                    {% set nb_comptes = _demande.client.comptes|length %}

                                                    {{ compte.TypeLbl }} {{ compte.iban }} <i><strong>({{ compte.solde | number_format(2, ',', ' ') }} €)</strong></i>
                                                    {% if nb_comptes > 1 and iterator < nb_comptes %}<br />{% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <a href="/validateDemande/{{ _demande.id }}/KO"><button type="button" class="btn btn-danger">Refuser</button></a>
                                                <a href="/validateDemande/{{ _demande.id }}/OK" id="btn_validate_demande"><button type="button" class="btn btn-success" data-demande_type="{{ demande_type }}">Valider</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                            {% set iterator = iterator + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                    {#{% for demande_type,_demandes in demandes %}
                    <script>
                        $('#liste_demandes_{{ demande_type }}').DataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                            }
                            , "dom": '<"top"if>rt<"bottom"lp><"clear">'
                            , responsive: true
                        })/*.search( 'New York' ).draw()*/;
                    </script>
                    {% endfor %}#}

                    {#<div class="content">
                        <div id="chartHours" class="ct-chart"></div>
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> En attente
                                <i class="fa fa-circle text-danger"></i> Refusé
                                <i class="fa fa-circle text-warning"></i> Validé
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Mis à jour il y a 3 minutes
                            </div>
                        </div>
                    </div>#}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-button.cancelDialogButton {
        border: 1px solid #aaaaaa
        /*{borderColorContent}*/
    ;
        color: #FF0000
        /*{fcContent}*/
    ;
    }

    .ui-button.confirmDialogButton {
        border: 1px solid #aaaaaa
        /*{borderColorContent}*/
    ;
        color: forestgreen;
        /*{fcContent}*/
    ;
    }

    .titleDialogClass {
        background: #89C13E;
        font-weight: bold;
    }

    .strikeout {
        font-size: 1em;
        position: relative;
    }
    .strikeout::after {
        border-bottom: 0.125em solid rgba(255, 0, 0, 0.5);
        content: "";
        left: 0;
        line-height: 1em;
        margin-top: calc(0.125em / 2 * -1);
        position: absolute;
        right: 0;
        top: 50%;
    }

    td.details-control {
        background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
    }
</style>

    <script>
    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
    });

    $('table.auto_datatable').DataTable( {
        scrollCollapse: true,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        /*"dom": '<"top"if>rt<"bottom"lp><"clear">',*/
        dom: 'Bfrtip',
        select:"single",
        responsive: true,
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'pdfHtml5',
            'print',
        ]
        ,"columns": [
            { "data": "date_demande" },
            { "data": "auteur_demande" },
            { "data": "client" },
            { "data": "client_comptes" },
            {
                "data": "backoffice_actions_col",
                "orderable":      false,
            },
        ],
    } );

    /* Formatting function for row details - modify as you need */
    function demande_beneficiaire_format ( d ) {
        // `d` is the original data object for the row
        if (d == undefined || d.json_details_demande == undefined || d.json_details_demande == null || !d.json_details_demande || d.json_details_demande == "null"){
            return '<div class="alert alert-danger" role="alert">Aucune information fournie/trouvée</div>';
        }

        var json_details_demande = JSON.parse(d.json_details_demande);
        var _return, iban, beneficiaire, alert_class, iban_class;

        (json_details_demande.hasOwnProperty('iban'))?iban=json_details_demande.iban:iban=null;
        (json_details_demande.hasOwnProperty('beneficiaire'))?beneficiaire=json_details_demande.beneficiaire:beneficiaire=null;
        (json_details_demande.hasOwnProperty('iban_is_ok'))?iban_is_ok=json_details_demande.iban_is_ok:iban_is_ok=false;
        (json_details_demande.hasOwnProperty('matching_compte_found'))?matching_compte_found=json_details_demande.matching_compte_found:matching_compte_found=null;

        //iban_is_ok = false; //debug purposes only
        (iban_is_ok)?alert_class = 'info':alert_class='warning';
        (iban_is_ok)?iban_class = '':iban_class='strikeout';

        _return = '' +
            '<div class="alert alert-' + alert_class + '" role="alert" style="width: 100%;">' +
            '<div class="row">' +
            '<div class="col-md-2"><b>Bénéficiaire : </b></div>' +
            '<div class="col-md-2">' + beneficiaire + '</div>' +
            '</div>' +
            '<div class="row">' +
            '<div class="col-md-2"><b>IBAN : </b></div>' +
            '<div class="col-md-2"><span class="'+iban_class+'">';
        if (iban_is_ok){
            _return += '<i class="fa fa-check" style="color: forestgreen;" aria-hidden="true">&nbsp;<b><span style="color: black;">'+iban+'</span></b></i></span>'
        }
        else {
            _return += iban + '</span>&nbsp;<span style="color: black; font-style: italic; font-weight: bold;">(compte&nbsp;non&nbsp;trouvé)</span>';
        }
        _return += '</div>' +
            '</div>';

        if (iban_is_ok){
            _return += '<div class="row">' +
                '<div class="col-md-2"><b>Infos compte destinataire : </b></div>' +
                '<div class="col-md-2"><span style="color: black;">Agence : </span>' + json_details_demande.matching_compte_found.agence + '<br />' +
                '<span style="color: black;">Compte créé le : </span>' + json_details_demande.matching_compte_found.createdAt + '<br />' +
                '</div>' +
                '</div>';
        }

        _return += '</div>' +
        '';

        return _return;
    }

    var demande_beneficiaire_table = $('#liste_demandes_DEMANDE_DESTINATAIRE_VIREMENT').DataTable( {
        scrollCollapse: true,
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        /*"dom": '<"top"if>rt<"bottom"lp><"clear">',*/
        dom: 'Bfrtip',
        select:"single",
        responsive: true,
        /*,buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],*/
        buttons: [],
        "columns": [
            {
                "data": "empty_col",
                "className": "details-control",
                "orderable":      false,
            },
            { "data": "json_details_demande" },
            { "data": "date_demande" },
            { "data": "auteur_demande" },
            { "data": "client" },
            { "data": "client_comptes" },
            {
                "data": "backoffice_actions_col",
                "orderable":      false,
            },
        ],
        "columnDefs": [
            {
                "targets": [ 1 ],
                "visible": false,
                "searchable": false
            }/*,
            {
                "targets": [ 3 ],
                "visible": false
            }*/
        ],
        "order": [[1, 'asc']]
    } );

    $('#liste_demandes_DEMANDE_DESTINATAIRE_VIREMENT tbody').on('click','td', function (){
        var tr = $(this).closest('tr');
        var row = demande_beneficiaire_table.row( tr );
        console.log(row.data());

        if ( row.child.isShown() ) {
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            row.child( demande_beneficiaire_format(row.data()) ).show();
            tr.addClass('shown');
        }
    });

    // On each draw, loop over the `detailRows` array and show any child rows
    /*dt.on( 'draw', function () {
        $.each( detailRows, function ( i, id ) {
            $('#'+id+' td.details-control').trigger( 'click' );
        } );
    } );*/

</script>

<script>
    $("#btn_validate_demande").click(function(event){

    });
    $("button").on("click", function(ev){
        ev.preventDefault(); // preventDefault should suffice, no return false

        var href = $(this).parent().attr('href');
        var demande_type = $(this).data("demande_type");
        var title, dialog_content;

        switch (demande_type){
            case "{{ constant('App\\Entity\\Demandes::DEMANDE_DECOUVERT_AUTORISE') }}":
                var title = "Montant du découvert autorisé";
                var dialog_content = "  <input type=\"text\" class=\"form-control\" id=\"decouvert_autorise\" name=\"decouvert_autorise\" placeholder=\"Montant\">\n";
                break;

            case "{{ constant('App\\Entity\\Demandes::DEMANDE_COMPTE_JOINT') }}":
                var title = "Co-titulaire du compte";
                var dialog_content = "  <input type=\"text\" class=\"form-control\" id=\"co_titulaire\" name=\"co_titulaire\" placeholder=\"Co titulaire\">\n";
                break;

            default:
                window.location = href;
                return true;
                break;

        }

        var dialog = $("" +
            "<div id='div_dialog'>\n" +
            dialog_content +
            "</div> \n" +
            "");

        $(dialog).dialog({
            title: title,
            classes: {
                "ui-dialog": "highlight",
                "ui-dialog-titlebar": "titleDialogClass",
            },
            resizable: false,
            autoOpen: false,
            modal: true,
            buttons: [
                {
                    text: 'Annuler',
                    class: 'cancelDialogButton',
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                },
                {
                    text: 'Valider',
                    class: 'confirmDialogButton',
                    click: function(event) {
                        var href = $('#div_dialog').data('opener_href');
                        var demande_type = $('#div_dialog').data('demande_type');

                        switch (demande_type){
                            case "{{ constant('App\\Entity\\Demandes::DEMANDE_DECOUVERT_AUTORISE') }}":
                                href = href + "/" + $('#decouvert_autorise').val();
                                break;

                            case "{{ constant('App\\Entity\\Demandes::DEMANDE_COMPTE_JOINT') }}":
                                href = href + "/" + $('#co_titulaire').val();
                                break;
                        }

                        window.location = href;
                        $(this).dialog("close");
                        return true;
                   }
                }
            ],
            close: function () {
                //$( this ).remove();
            },
        });

        var data = dialog.data();
        data.opener_href = href;
        data.title = title;
        data.demande_type = demande_type;
        $(dialog).dialog('open');

    });
</script>

{#<script>
    var columns = [{name: 'Color', minWidth: '100px'}, {name: 'Hex', minWidth:'70px'}],
    colors = [['Red', '#f00'], ['Green', '#0f0'], ['Blue', '#00f']];

    $("#search").mcautocomplete({
    columns: columns,
    source: colors
    });

    $("#search").mcautocomplete({
        showHeader: true,
    columns: columns,
    source: colors,
    select: function(event, ui) {
        this.value = (ui.item ? ui.item[0]: '');
        return false;
    }
    });
</script>#}


{% endblock %}
